img{
    height: 175px;
    margin-bottom: 20px
}

button{
    border: none;
    height: 35px;
    width: 70px;
    border-radius: 6px;
    font-weight: bold;
    color: darkcyan;
}

h2{
    color: darkcyan;
}

.mat-dialog-actions{
    float: right;
}

.header{
    font-weight: bold;   
}

.heading{
    margin-top: 10px;
}

.float-left{
    width: 50% ;
    float: left;
}

.width-100{
    width: 100%;
    float: left;
}